In [1]:
import plotly.express as px 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import dash
from dash import html 
from dash import dcc 
import plotly.express as px 
from dash.dependencies import Input , Output ,State
import dash_bootstrap_components as dbc

In [2]:
df = pd.read_csv(r"kaggle_survey_2021_responses1.csv")

In [3]:
df

,Age,Gender,Country,Education,Title,CodeExp,Python Lang,R Lang,SQL Lang,C Lang,...,Tidymodels Machine Learning Frameworks,JAX Machine Learning Frameworks,PyTorch Lightning Machine Learning Frameworks,Huggingface Machine Learning Frameworks,None machine Learning Frameworks,Other Machine Learning Frameworks,Industry,Employees Num,Yearly Compensation,Money Spent on ML
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,R,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Manufacturing/Fabrication,50-249 employees,"25,000-29,999",$100-$999
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,NaN,NaN,SQL,C,...,NaN,NaN,NaN,NaN,NaN,NaN,Manufacturing/Fabrication,"1000-9,999 employees","60,000-69,999",$0 ($USD)
2,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Academics/Education,"1000-9,999 employees",$0-999,$0 ($USD)
3,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Academics/Education,"1000-9,999 employees","30,000-39,999",$0 ($USD)
4,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,NaN,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,Academics/Education,50-249 employees,"30,000-39,999","$1000-$9,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,30-34,Man,Egypt,Bachelor’s degree,Data Analyst,1-3 years,Python,NaN,SQL,NaN,...,NaN,NaN,PyTorch Lightning,NaN,NaN,NaN,Computers/Technology,"10,000 or more employees","15,000-19,999","$1000-$9,999"
25969,22-24,Man,China,Master’s degree,Student,1-3 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,50-54,Man,Sweden,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Academics/Education,"1000-9,999 employees",$0-999,$1-$99
25971,45-49,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Online Service/Internet-based Services,"10,000 or more employees",NaN,NaN
25972,18-21,Man,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Other,0-49 employees,$0-999,$0 ($USD)

In [4]:
lst1 = ["Age","Education","Gender","Country","Title","CodeExp","Times to Use TPU ","Industry","Computing Platform","Years for Use Machine Learning Methods","Employees Num","Yearly Compensation","Money Spent on ML"]
lst2 = ['Age', 'Gender', 'Education', 'Title', 'CodeExp',"Industry","Employees Num"]
langlist = ['Python Lang', 'R Lang', 'SQL Lang', 'C Lang', 'C++ Lang', 'Java Lang',
       'Javascript Lang', 'Julia Lang', 'Swift Lang', 'Bash Lang',
       'MATLAB Lang', 'None Lang', 'Other Lang']

In [5]:
all_options = {
    'IDE List': ['Jupyter IDE', 'Rstudio IDE', 'Visual Studio IDE', 'VSCode IDE',
       'PyCharm IDE', 'Spyder IDE', 'Notepad++ IDE', 'Sublime Text IDE',
       'Vim / Emacs IDE  ', 'MATLAB IDE', 'Jupyter Notebook IDE', 'None IDE',
       'Other IDE'],
    'Hosted Notebook List': ['Kaggle Notebooks Hosted Notebook ',
       'Colab Notebooks Hosted Notebook ', 'Azure Notebooks Hosted Notebook ',
       'Paperspace / Gradient Hosted Notebook  ',
       'Binder / JupyterHub Hosted Notebook ', 'Code Ocean Hosted Notebook ',
       'IBM Watson Studio Hosted Notebook ',
       'Amazon Sagemaker Studio Notebooks Hosted Notebook ',
       'Amazon EMR Notebooks Hosted Notebook  ',
       'Google Cloud Notebooks (AI Platform / Vertex AI) Hosted Notebook ',
       'Google Cloud Datalab Hosted Notebook ',
       'Databricks Collaborative Notebooks Hosted Notebook ',
       'Zeppelin / Zepl Notebooks Hosted Notebook ',
       'Deepnote Notebooks Hosted Notebook ',
       'Observable Notebooks Hosted Notebook  ', 'None Hosted Notebook ',
       'Other Hosted Notebook '],
    "Hardware List" : ['NVIDIA GPUs Specialized Hardware ',
       'Google Cloud TPUs Specialized Hardware ',
       'AWS Trainium Chips Specialized Hardware ',
       'AWS Inferentia Chips Specialized Hardware ',
       'None Specialized Hardware ', 'Other Specialized Hardware '],
    "Visulization Libraries List" : ['Matplotlib Visualization Libraries ',
       'Seaborn Visualization Libraries ',
       'Plotly / Plotly Express Visualization Libraries ',
       'Ggplot / ggplot2  Visualization Libraries ',
       'Shiny Visualization Libraries ', 'D3 js Visualization Libraries ',
       'Altair  Visualization Libraries ', 'Bokeh Visualization Libraries ',
       'Geoplotlib Visualization Libraries ',
       'Leaflet / Folium Visualization Libraries ',
       'None Visualization Libraries ', 'Other Visualization Libraries '],
    "ML Frameworks List" : ['Scikit-learn Machine Learning Frameworks ',
       'TensorFlow Machine Learning Frameworks  ',
       'Keras Machine Learning Frameworks ',
       'PyTorch Machine Learning Frameworks ',
       'Fast.ai Machine Learning Frameworks ',
       'MXNet Machine Learning Frameworks ',
       'Xgboost Machine Learning Frameworks ',
       'LightGBM Machine Learning Frameworks ',
       'CatBoost Machine Learning Frameworks ',
       'Prophet Machine Learning Frameworks',
       'H2O 3 Machine Learning Frameworks ',
       'Caret  Machine Learning Frameworks ',
       'Tidymodels Machine Learning Frameworks ',
       'JAX Machine Learning Frameworks ',
       'PyTorch Lightning Machine Learning Frameworks ',
       'Huggingface Machine Learning Frameworks ',
       'None machine Learning Frameworks ',
       'Other Machine Learning Frameworks ']
}

In [6]:
total = 25973
python = 21860
laptop = 16231
sikit_framework = 13987

In [7]:
def percent(num_1 , num_2) :
    return round(num_1 / num_2 * 100 , 2)

In [8]:
py_percent = percent(python , total)
laptop_percent = percent(laptop , total)
sk_percent = percent(sikit_framework , total)

In [9]:
first_jumbotron = dbc.Col(
    html.Div(
        [
            html.H2(f"{total}", className="display-3"),
            html.Hr(className="my-2"),
            html.P('Number of Participants')
        ],
        className="p-2 text-white bg-dark rounded-3",
        style={"text-align":'center'}
    ),
    md=3,
)

second_jumbotron = dbc.Col(
    html.Div(
        [
            html.H2(f"{py_percent}%", className="display-3"),
            html.Hr(className="my-2"),
            html.P('Python Users')
        ],
        className="p-2 text-white bg-dark rounded-3",
        style={"text-align":'center'}
    ),
    md=3,
)

third_jumbotron = dbc.Col(
    html.Div(
        [
            html.H2(f"{laptop_percent}%", className="display-3"),
            html.Hr(className="my-2"),
            html.P('Laptop Users')
        ],
        className="p-2 text-white bg-dark rounded-3",
        style={"text-align":'center'}
    ),
    md=3,
)

fourth_jumbotron = dbc.Col(
    html.Div(
        [
            html.H2(f"{sk_percent}%", className="display-3"),
            html.Hr(className="my-2"),
            html.P('Scikit-learn framework Users')
        ],
        className="p-2 text-white bg-dark rounded-3",
        style={"text-align":'center'}
    ),
    md=3,
)

In [10]:
fig = px.treemap(df, path=['Country'] , template = "plotly_dark")

In [11]:
fig2 = dbc.Col(
    html.Div([
        #GRAPH 2
    dcc.Dropdown(
        id = "my_dropdown" ,
        options=[  
            {"label" : str(c) ,"value" : str(c) } for  c in lst1 ],
        value = None ,
        placeholder = "Choose ... " , 
        multi = False ,
        style = {"color" : "black"}
    ),
    dcc.RadioItems(
                id='radio',
                options=[
        {'label': 'Pie Chart', 'value': 'Pie'},
        {'label': 'Bar Chart', 'value': 'Bar'}
    ],
    value = "Pie",
                labelStyle={'display': 'inline-block'}
            ),
    dcc.Dropdown(
        id = "my_dropdown1" ,
        options=[  
            {"label" : str(c) ,"value" : str(c) } for  c in lst2 ],
        value = None ,
        placeholder = "Grouped By ... " , 
        multi = False ,
        style = {"color" : "black"}
    ),
    html.Button(id = "button" , n_clicks = 0 , children = "Submit" , style = {"textAlign" : "center"}) ,
    dcc.Graph( id = "my_fig") ,
    ]
    )
)

In [12]:
fig3 = dbc.Col(
    html.Div(
        [
            #GRAPH 3    
            dcc.Dropdown(
                id = "my_dropdown2" ,
                options=[  
                    {"label" : str(c) ,"value" : str(c) } for  c in langlist ],
                value = "value" ,
                placeholder = "Choose a Language ... " , 
                multi = True ,
                style = {"color" : "black"}
            ),
            html.Button(id = "button2" , n_clicks = 0 , children = "Submit" , style = {"textAlign" : "center"}),
            html.Br(),
            dcc.Graph( id = "my_fig2") 
                ]
    )
)

In [13]:
fig4 = dbc.Col(
    html.Div(
        [
            #GRAPH 4    
            dcc.Dropdown(
                id = "my_dropdown3" ,
                options=[  
                    {'label': k, 'value': k} for k in all_options.keys()],
                value = "value" ,
                placeholder = "Choose an Option ... " , 
                multi = False ,
                style = {"color" : "black"}
            ),
            dcc.Dropdown(
                id = "my_dropdown4" ,
                value = "value" ,
                placeholder = "Choose ... " , 
                multi = True ,
                style = {"color" : "black"}
            ),
            html.Button(id = "button3" , n_clicks = 0 , children = "Submit" , style = {"textAlign" : "center"}),
            dcc.Graph( id = "my_fig3") 
        ]
    )
)

In [14]:
app = dash.Dash(external_stylesheets=[dbc.themes.QUARTZ])

In [15]:
app.layout = html.Div([
    dbc.Row(dbc.Col(html.H1('Kaggle Survey Dashboard!'), width={'size':6, 'offset':4})),
    dbc.Row(dbc.Col(html.Br())),
    dbc.Row(dbc.Col(html.Br())),
    dbc.Row([first_jumbotron, second_jumbotron, third_jumbotron, fourth_jumbotron]),
    dbc.Row(dbc.Col(html.Br())),
    dbc.Row(dbc.Col(html.H2('Countries of Participants'), width={'size':6, 'offset':4})),
    dbc.Row(dbc.Col(html.Br())),
    dbc.Row(dbc.Col(dcc.Graph(id='Treemap', figure=fig))),
    dbc.Row([fig2, fig3]),
    dbc.Row(fig4)
])

In [16]:
@app.callback(
    Output(component_id = "my_fig" , component_property = "figure") , 
    State(component_id = "my_dropdown" , component_property = "value"),
    State(component_id = "my_dropdown1" , component_property = "value"),
    State(component_id = "radio" , component_property ="value"),
    Input(component_id = "button" , component_property = "n_clicks")  
)
def update_1(lang , lang2, radio  , n_clicks ) :
    if radio == "Pie" :
        fig1 = px.pie(data_frame = df , names = lang , hole = 0.4 ,  template = "plotly_dark")
        return fig1
    else :
        fig1 = px.histogram(data_frame = df , x = lang , color = lang2  , barmode = "group" , animation_frame = "Country" , template = "plotly_dark" , title= f"{lang} Grouped by {lang2}")
        return fig1
    
@app.callback(
    Output(component_id = "my_fig2" , component_property = "figure") ,
    State(component_id = "my_dropdown2" , component_property = "value"),
    Input(component_id = "button2" , component_property = "n_clicks")
)
def update_2(lang , n_clicks):
    fig2 = px.histogram(data_frame = df , x = lang ,  template = "plotly_dark" ,title= f"{lang}")
    return fig2

@app.callback(
    Output('my_dropdown4', 'options'),
    [Input('my_dropdown3', 'value')])
def set_options(selected_option):
    return [{'label': i, 'value': i} for i in all_options[selected_option]]

@app.callback(
    Output(component_id = "my_fig3" , component_property = "figure") ,
    State(component_id = "my_dropdown4" , component_property = "value"),
    Input(component_id = "button3" , component_property = "n_clicks")
)
def update_4(lang , n_clicks):
    fig3 = px.histogram(data_frame = df , x = lang  , template = "plotly_dark", title= f"{lang}" )
    return fig3

In [17]:
app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [04/Nov/2021 11:40:24] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:40:25] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:40:25] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:40:25] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:40:25] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:40:25] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:40:25] "POST /_dash-update-component HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\moham\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\moham\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "C:\Users\moham\AppData\Local\Temp/ipykernel_4108/664106286.py", line 29, in set_options
    return [{'label': i, 'value': i} for i in all_options[selected_option]]
KeyError: 'value'

127.0.0.1 - - [04/Nov/2021 11:40:25] "POST /_dash-update-component HTTP/1.1" 500 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\moham\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\moham\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "C:\Users\moham\AppData\Local\Temp/ipykernel_4108/664106286.py", line 22, in update_2
    fig2 = px.histogram(data_frame = df , x = lang ,  template = "plotly_dark" ,title= f"{lang}")
  File "C:\Users\moham\anaconda3\lib\site-packages\plotly\express\_chart_types.py", line 468, in histogram
    return make_figure(
  File "C:\Users\moham\anaconda3\lib\site-packages\plotly\express\_core.py", line 1933, in make_figure
    args = build_dataframe(args, constructor)
  File "C:\Users\moham\anaconda3\lib\site-packages\plotly\express\_core.py", line 1405, in build_dataframe
    df_output, wide_id_vars = process_args_into_dataframe(
  File "C:\Users\moham\anaconda3\lib\site-packages\plotly\express\_core.py", line 1207, in process_args_into_dataframe
    raise ValueError(err_msg)
ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Age', 'Gender', 'Country', 'Education', 'Title', 'CodeExp', 'Python Lang', 'R Lang', 'SQL Lang', 'C Lang', 'C++ Lang', 'Java Lang', 'Javascript Lang', 'Julia Lang', 'Swift Lang', 'Bash Lang', 'MATLAB Lang', 'None Lang', 'Other Lang', 'FirstRecommendedLang', 'Jupyter IDE', 'Rstudio IDE', 'Visual Studio IDE', 'VSCode IDE', 'PyCharm IDE', 'Spyder IDE', 'Notepad++ IDE', 'Sublime Text IDE', 'Vim / Emacs IDE  ', 'MATLAB IDE', 'Jupyter Notebook IDE', 'None IDE', 'Other IDE', 'Kaggle Notebooks Hosted Notebook ', 'Colab Notebooks Hosted Notebook ', 'Azure Notebooks Hosted Notebook ', 'Paperspace / Gradient Hosted Notebook  ', 'Binder / JupyterHub Hosted Notebook ', 'Code Ocean Hosted Notebook ', 'IBM Watson Studio Hosted Notebook ', 'Amazon Sagemaker Studio Notebooks Hosted Notebook ', 'Amazon EMR Notebooks Hosted Notebook  ', 'Google Cloud Notebooks (AI Platform / Vertex AI) Hosted Notebook ', 'Google Cloud Datalab Hosted Notebook ', 'Databricks Collaborative Notebooks Hosted Notebook ', 'Zeppelin / Zepl Notebooks Hosted Notebook ', 'Deepnote Notebooks Hosted Notebook ', 'Observable Notebooks Hosted Notebook  ', 'None Hosted Notebook ', 'Other Hosted Notebook ', 'Computing Platform', 'NVIDIA GPUs Specialized Hardware ', 'Google Cloud TPUs Specialized Hardware ', 'AWS Trainium Chips Specialized Hardware ', 'AWS Inferentia Chips Specialized Hardware ', 'None Specialized Hardware ', 'Other Specialized Hardware ', 'Times to Use TPU ', 'Matplotlib Visualization Libraries ', 'Seaborn Visualization Libraries ', 'Plotly / Plotly Express Visualization Libraries ', 'Ggplot / ggplot2  Visualization Libraries ', 'Shiny Visualization Libraries ', 'D3 js Visualization Libraries ', 'Altair  Visualization Libraries ', 'Bokeh Visualization Libraries ', 'Geoplotlib Visualization Libraries ', 'Leaflet / Folium Visualization Libraries ', 'None Visualization Libraries ', 'Other Visualization Libraries ', 'Years for Use Machine Learning Methods', 'Scikit-learn Machine Learning Frameworks ', 'TensorFlow Machine Learning Frameworks  ', 'Keras Machine Learning Frameworks ', 'PyTorch Machine Learning Frameworks ', 'Fast.ai Machine Learning Frameworks ', 'MXNet Machine Learning Frameworks ', 'Xgboost Machine Learning Frameworks ', 'LightGBM Machine Learning Frameworks ', 'CatBoost Machine Learning Frameworks ', 'Prophet Machine Learning Frameworks', 'H2O 3 Machine Learning Frameworks ', 'Caret  Machine Learning Frameworks ', 'Tidymodels Machine Learning Frameworks ', 'JAX Machine Learning Frameworks ', 'PyTorch Lightning Machine Learning Frameworks ', 'Huggingface Machine Learning Frameworks ', 'None machine Learning Frameworks ', 'Other Machine Learning Frameworks ', 'Industry', 'Employees Num', 'Yearly Compensation', 'Money Spent on ML'] but received: value

127.0.0.1 - - [04/Nov/2021 11:40:25] "POST /_dash-update-component HTTP/1.1

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\moham\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\moham\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\moham\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "C:\Users\moham\AppData\Local\Temp/ipykernel_4108/664106286.py", line 37, in update_4
    fig3 = px.histogram(data_frame = df , x = lang  , template = "plotly_dark", title= f"{lang}" )
  File "C:\Users\moham\anaconda3\lib\site-packages\plotly\express\_chart_types.py", line 468, in histogram
    return make_figure(
  File "C:\Users\moham\anaconda3\lib\site-packages\plotly\express\_core.py", line 1933, in make_figure
    args = build_dataframe(args, constructor)
  File "C:\Users\moham\anaconda3\lib\site-packages\plotly\express\_core.py", line 1405, in build_dataframe
    df_output, wide_id_vars = process_args_into_dataframe(
  File "C:\Users\moham\anaconda3\lib\site-packages\plotly\express\_core.py", line 1207, in process_args_into_dataframe
    raise ValueError(err_msg)
ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Age', 'Gender', 'Country', 'Education', 'Title', 'CodeExp', 'Python Lang', 'R Lang', 'SQL Lang', 'C Lang', 'C++ Lang', 'Java Lang', 'Javascript Lang', 'Julia Lang', 'Swift Lang', 'Bash Lang', 'MATLAB Lang', 'None Lang', 'Other Lang', 'FirstRecommendedLang', 'Jupyter IDE', 'Rstudio IDE', 'Visual Studio IDE', 'VSCode IDE', 'PyCharm IDE', 'Spyder IDE', 'Notepad++ IDE', 'Sublime Text IDE', 'Vim / Emacs IDE  ', 'MATLAB IDE', 'Jupyter Notebook IDE', 'None IDE', 'Other IDE', 'Kaggle Notebooks Hosted Notebook ', 'Colab Notebooks Hosted Notebook ', 'Azure Notebooks Hosted Notebook ', 'Paperspace / Gradient Hosted Notebook  ', 'Binder / JupyterHub Hosted Notebook ', 'Code Ocean Hosted Notebook ', 'IBM Watson Studio Hosted Notebook ', 'Amazon Sagemaker Studio Notebooks Hosted Notebook ', 'Amazon EMR Notebooks Hosted Notebook  ', 'Google Cloud Notebooks (AI Platform / Vertex AI) Hosted Notebook ', 'Google Cloud Datalab Hosted Notebook ', 'Databricks Collaborative Notebooks Hosted Notebook ', 'Zeppelin / Zepl Notebooks Hosted Notebook ', 'Deepnote Notebooks Hosted Notebook ', 'Observable Notebooks Hosted Notebook  ', 'None Hosted Notebook ', 'Other Hosted Notebook ', 'Computing Platform', 'NVIDIA GPUs Specialized Hardware ', 'Google Cloud TPUs Specialized Hardware ', 'AWS Trainium Chips Specialized Hardware ', 'AWS Inferentia Chips Specialized Hardware ', 'None Specialized Hardware ', 'Other Specialized Hardware ', 'Times to Use TPU ', 'Matplotlib Visualization Libraries ', 'Seaborn Visualization Libraries ', 'Plotly / Plotly Express Visualization Libraries ', 'Ggplot / ggplot2  Visualization Libraries ', 'Shiny Visualization Libraries ', 'D3 js Visualization Libraries ', 'Altair  Visualization Libraries ', 'Bokeh Visualization Libraries ', 'Geoplotlib Visualization Libraries ', 'Leaflet / Folium Visualization Libraries ', 'None Visualization Libraries ', 'Other Visualization Libraries ', 'Years for Use Machine Learning Methods', 'Scikit-learn Machine Learning Frameworks ', 'TensorFlow Machine Learning Frameworks  ', 'Keras Machine Learning Frameworks ', 'PyTorch Machine Learning Frameworks ', 'Fast.ai Machine Learning Frameworks ', 'MXNet Machine Learning Frameworks ', 'Xgboost Machine Learning Frameworks ', 'LightGBM Machine Learning Frameworks ', 'CatBoost Machine Learning Frameworks ', 'Prophet Machine Learning Frameworks', 'H2O 3 Machine Learning Frameworks ', 'Caret  Machine Learning Frameworks ', 'Tidymodels Machine Learning Frameworks ', 'JAX Machine Learning Frameworks ', 'PyTorch Lightning Machine Learning Frameworks ', 'Huggingface Machine Learning Frameworks ', 'None machine Learning Frameworks ', 'Other Machine Learning Frameworks ', 'Industry', 'Employees Num', 'Yearly Compensation', 'Money Spent on ML'] but received: value

" 500 -
127.0.0.1 - - [04/Nov/2021 11:40:25] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [04/Nov/2021 11:40:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:40:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:40:51] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:41:03] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [04/Nov/2021 11:41:28] "POST /_dash-update-component HTTP/1.1" 200 -

###